{% extends 'data/base.html' %}
{% block content %}
<div class="loginout row" style="margin-top: 5%;">
  <div class="col-xs-12" align="center">
  <h2 style="text-align:center">User Profile</h2>
  <div class="card_profile">
    <img src="/static/img/elon_musk.jpg" alt="Elon" style="width:100%">
    <h1>Elon Dusk</h1>
    <p class="title">Rocketman</p>
    <p>Bachelor of Tourism</p>
    <p>43 Years Old</p>
    <p class="banner_profile">Contact</p>
    <p>elondusk@mart.com</p>
    <p>+34 673892323</p>
  </div>
  </div>
</div>

{% endblock content %}
